body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

header {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: baseline;
}

header .time-filter {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25em;
}

header .time-filter time,
header .time-filter em {
  display: block;
}

header .time-filter em {
  color: #666;
  font-style: italic;
}